@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{
    --font1: 'Signika Negative', sans-serif;
    --font2: 'Pacifico', sans-serif;
}

                /* CONFIGURAÇÕES GERAIS */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url('../images/Sra.\ Castro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100% 100%;
    background-position: center center;
    text-align: center;
}

header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;  
    font-family: var(--font1); 
    padding: 30px;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

header > h1{
    font-family: var(--font2);
    font-weight: normal;
    transition: 0.5s;
    padding-left: 40px;
    padding-right: 40px;
}

header > h1:hover{
    color: #8f7363;
    transition: 0.5s;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
        height: 11vh;
    }
}

a{
    text-decoration: none;
    color: white;
}

nav{
    padding-right: 40px;
    padding-left: 40px;
}

nav, ul#menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    letter-spacing: 3px;
}

nav > ul#menu > li{
    margin-left: 0px;
    padding: 10px;
    transition: 0.5s;
}

nav > ul#menu > li:hover{
    background-color:#8f7363;
    color: white;
    transition: 0.5s;
}

main{
    display: flex;
    color: white;
    text-shadow: 2px 2px 10px black;
    height: 82vh;
    justify-content: center;
    align-items: center;
}

#center{
    background-color: rgba(0, 0, 0, 0.432);
    padding: 30px;
    max-width: 800px;
    border-radius: 10px;
    font-family: var(--font1);
    letter-spacing: 2px;
    box-shadow: 2px 2px 10px black;
    transition: 0.5s;
}

#center > p{
    padding-top: 10px;
}

#center:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.473);
    transition: 0.5s;
}

button#b1{
    margin-top: 10px;
    background-color: transparent;
    background-color: #8f7363;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family:var(--font1);
    color: white;
    width: 170px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.774);
    letter-spacing: 1.5px;
    transition: 0.5s;
}

button#b1:hover{
    background-color: #5e4b40;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
}

footer{
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    padding: 30px;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

footer > p{
    text-align: left;
    margin-bottom: 4px;
}